.navbar {
    background-color: #f9f9f9;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);

}

.container {
    width: 100%;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}